*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #1e4ea0; /* Dark Blue */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    
}

.side-menu {
    background-color: #003399; /* Blue */
    color: #fff;
    padding: 1rem;
    width: 200px;
    min-height: 100vh;
}

.side-menu nav ul {
    list-style: none;
}

.side-menu nav ul li {
    margin: 1rem 0;
}

.side-menu nav ul li a {
    color: #fff;
    text-decoration: none;
}

.side-menu nav ul li a:hover {
    text-decoration: underline;
}

.main{
    width: 80%;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.lesson-topic{
    background-color:  #413f3f;
    width:150px;
    height:150px;
    gap: 30px;
    
   
}